<% form_for(user, :url => user_url) do |user_form| %>
  <%= user_form.error_messages %>

  <p>
    <%= user_form.label :first_name %><br />
    <%= user_form.text_field :first_name %>
  </p>
  <p>
    <%= user_form.label :last_name %><br />
    <%= user_form.text_field :last_name %>
  </p>

  <p>
    <%= user_form.label :email %><br />
    <%= user_form.text_field :email %>
  </p>
  <p>
    <%= user_form.label :password %><br />
    <%= user_form.password_field :password %>
  </p>
  <p>
    <%= user_form.label :password_confirmation %><br />
    <%= user_form.password_field :password_confirmation %>
  </p>

  <p>
    <%= user_form.submit %>
  </p>
<% end %>
