<% form_for [:admin, user] do |user_form| %>
  <%= user_form.error_messages %>

  <p>
    <%= user_form.label :first_name %><br />
    <%= user_form.text_field :first_name %>
  </p>
  <p>
    <%= user_form.label :last_name %><br />
    <%= user_form.text_field :last_name %>
  </p>

  <% user_form.fields_for :login do |login_form| %>
  <p>
    <%= login_form.label :username %><br />
    <%= login_form.text_field :username %>
  </p>
  <p>
    <%= login_form.label :email %><br />
    <%= login_form.text_field :email %>
  </p>
  <% end %>

  <p>
    <%= user_form.submit %>
  </p>
<% end %>
