<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>title</title>
  <%= stylesheet_link_tag 'base', 'style' %>
</head>
<body>
  <div id="container">
    <div id="header">
      <h1><a href="/"><%= File.basename(RAILS_ROOT).humanize %></a></h1>
      <div id="user-navigation">
        <ul>
        <% if logged_in? %>
          <li><%= link_to 'Change Password', edit_password_path %></li>
          <li><%= link_to 'Logout', logout_path %></li>
        <% else %>
          <li><%= link_to 'Login', login_path %></li>
          <li><%= link_to 'Signup', signup_path %></li>
        <% end %>
        </ul>
        <div class="clear"></div>
      </div>
      <div id="main-navigation">
        <%= generate_admin_navigation %>
        <div class="clear"></div>
      </div>
    </div>
    <div id="wrapper">
      <div id="main">
        <% unless flash.empty? %>
              <div class="flash">
                <% flash.each do |sev, message| %>
                  <%= content_tag :div, message, :class => sev %>
                <% end %>
              </div>
        <% end %>
        <%= yield %>
      </div>
      <div id="sidebar">
        <%= yield :sidebar %>
      </div>
      <div class="clear"></div>
    </div>
    <div id="footer">
      <div class="block">
        <p>Copyright &copy; 2009 Rubaidh Ltd</p>
      </div>
    </div>
  </div>
</body>
</html>
